.clients {
  padding-top: 100px;
  padding-bottom: 45px;

  @media (max-width: 900px) {
    padding-top: 60px;
    padding-bottom: 15px;
  }
}

.clients__row {
  /*display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
  justify-items: center;*/
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
